<div class="container mt-5 mb-5">

  <h1 class="text-center">About</h1>

  <p>
      We are a Interior Design and Renovation Company in Montreal, Quebec, Canada 
      <br/>
      For those who routinely expect the incredible, only the incomparable and most desirable homes will suit. It’s why you are driven to create individually inspired residences.
      Achieving this demands a new breed of partner; kitchen designers and interior developers who think beyond bespoke kitchens and conventional living spaces.
      Our philosophy is simple: incredible only happens when the bounds of moderation are exceeded, and truly astounding design never comes from a catalogue.
      <br/>
      We are proud to partner with some of the most internationally respected developers, architects and interior designers with whom we have shared visions and values.
      Our commissions can be found in some of the world’s most desirable and exclusive addresses and our creative collaborations have taken us as far as Barbados and Russia.
      Discover a selection of our projects for refurbishments, new build private homes and contracts below.
      <br/>
      We believe that our service should be as personal and individual as our approach to design. Whether working with private residential projects or residential contracts,
      our service is tailored to suit you and each of your clients. From luxury bedrooms through to innovative home office design,
      our home and kitchen designers push boundaries to deliver outstanding living spaces.
      <br/>
  </p>

</div>
